*.aux
*.bbl
*.blg
*.log
*.out
*.lot
*.lof
*.bin
.ipynb_checkpoints/
__pycache__/
uncomitted/
notebooks/data/*.npz
notebooks/data/*.npy
notebooks/data/*.zip
notebooks/data/*.npz
figures/Figure_*.tif
*.dat
*.dir
*.bak
